@model LiperFrontend.Models.State

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<!-------Aleart Notification------->

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.Raw(@ViewBag.Alert)
        </div>
    </div>
</div>
<!------------------------------------------>
<div>
    <h4>State</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nameEN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nameEN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nameAR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nameAR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.country.NameEN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.country.NameEN)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-outline-secondary">Back to Countries List</a>
    </form>
</div>
