@model IEnumerable<LiperFrontend.Models.Currency>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nameEN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nameAR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.currencyCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.country.NameEN)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nameEN)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nameAR)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.currencyCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.country.NameEN)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-outline-info" asp-route-Id=@item.id> Update</a>
                    <a asp-action="Delete" class="btn btn-outline-danger" asp-route-Id=@item.id> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
