@model IEnumerable<LiperFrontend.Models.Country>
@using LiperFrontend.Shared

@{
    ViewData["Title"] = "Index";
    Pager pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<h1>Index</h1>
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
<p>
    <a asp-action="Create" class="btn btn-outline-success">New Country</a>
</p>
<table class="table" style="width:-webkit-fit-content" >
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.NameEN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameAR)
            </th>
            <th style="width:20%">
                Image
            </th>
            <th>
                Code
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.NameEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameAR)
            </td>
            
            <td style="width:20%">
                    <img src="@item.flagImgUrl" style="width:50%" alt="Country flag" />
            </td>
            <td>
                +@Html.DisplayFor(modelItem => item.CountryCode)
            </td>
                <td>
                    <a asp-action="Edit" class="btn btn-outline-info" asp-route-Id=@item.Id> Update</a>
                    <a asp-action="Delete" class="btn btn-outline-danger" asp-route-Id=@item.Id> Delete</a>

                </td>
        </tr>
}
    </tbody>
</table>
@Html.Partial("_PagerPartial" ,pager)
