@model LiperFrontend.Models.BankAccount

@{
    ViewData["Title"] = "Delete";
}


<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.Raw(@ViewBag.Alert)
        </div>
    </div>
</div>
<div>
    <h4>Remove Bank Account</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nameAR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nameAR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bankId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bankId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.accountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.accountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isDefault )
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isDefault )
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-outline-secondary">Back to Accounts List</a>
    </form>
</div>
