@model IEnumerable<LiperFrontend.Models.ProductImage>

@{
    ViewData["Title"] = "ProductImages";
    var Pid = Context.GetRouteData().Values["Id"];
}

<h1>ProductImages</h1>

<p>
    <a asp-action="Create" asp-route-Id=@Pid>Create New</a>
    <a asp-action="Index" asp-controller="Product"> Back To Products</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td style="width:20%">
                   <img src="@item.imageUrl"  style="width:50%" alt="image">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productId)
                </td>
                <td>
                    <a asp-action="ChangeImage" class="btn btn-outline-info" asp-route-Id=@item.id> Change</a>
                    <a asp-action="DeleteImage" class="btn btn-outline-danger" asp-route-Id=@item.id> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
