@model IEnumerable<LiperFrontend.Models.City>

@{
    ViewData["Title"] = "Index";
}

<h1>Cities</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">New City</a>
</p>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            @*<table id="example" class="table table-sm table-bordered table-hover">*@


                            <caption>Number of items: @Model.Count()</caption>

                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.id)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.nameEN)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.nameAR)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.State.nameEN)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.State.country.NameEN)
                                    </th>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.nameEN)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.nameAR)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.State.nameEN)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.State.country.NameEN)
                                        </td>

                                        <td>
                                            <a asp-action="Edit" class="btn btn-outline-info" asp-route-Id=@item.id> Update</a>
                                            <a asp-action="Delete" class="btn btn-outline-danger" asp-route-Id=@item.id> Delete</a>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
