@model IEnumerable<LiperFrontend.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Orders List</h1>
@* 
<select id="filterSelect" class="form-control">
    <option value="">All</option>
    <option value="0">Delivered</option>
    <option value="1">Canceled</option>
    <option value="processing">Under processing</option>
    <option value="Recived">Recived</option>
</select> *@
@* <div class="form-group">
    Order Status
    <select id="mySelect" asp-items="@ViewBag.SelectedList" onchange="postStatus()" class="form-control"></select>
</div> *@
@* <div class="form-group">
    <button id="submitBtn" class="btn btn-primary"> Load Orders</button>
</div> *@
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            @*<table id="example" class="table table-sm table-bordered table-hover">*@


                            <caption>Number of items: @Model.Count()</caption>

                            <thead>
                                <tr>

                                    <th>
                                        @Html.DisplayNameFor(model => model.orderDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.deliveryDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.discount)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.totalPrice)
                                    </th>
                                    <th>
                                        Customer
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.isPaid)
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Payment Method
                                    </th>
                                    <th>
                                        City
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.orderDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.deliveryDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.discount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.totalPrice)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.customer.name)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.isPaid)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.orderStatus.name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.paymentMethod.name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.city.nameEN)
                                        </td>
                                        <td>
                                            <a asp-action="Details" class="btn btn-outline-info" asp-route-Id=@item.id>Details</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
@* 
<script>
    function postStatus() {
        var id = $('#mySelect').val();
        if (id !== '' && id != null) {
            var url = '../Order/LoadOrders?id' + id;
            var settings = {
                "url": url,
                "method": 'GET'
            };
            $.ajax(settings);
        }
    }
</script> 
<script>
    $(document).ready(function () {
        $("#submitBtn").click(function () {
            var sValididue = $('#mySelect').val();
            window.location.href = '/Order/LoadOrders?id=' + sValue;
        })
    })
</script>
 *@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#filterSelect').change(function () {
            var selectedValue = $(this).val();
            filterData(selectedValue);
        });

        function filterData(status) {
            $('#dataTable tbody tr').each(function () {
                if (status === '' || $(this).find('td:eq(2)').text() === status) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        }
    });
</script>