@model IEnumerable<LiperFrontend.Models.GiftRequest>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            @*<table id="example" class="table table-sm table-bordered table-hover">*@


                            <caption>Number of items: @Model.Count()</caption>

                            <thead>
                                <tr>

                                    <th>
                                        @Html.DisplayNameFor(model => model.text)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.customer.username)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.isRead)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.text)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.customer.username)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.isRead)
                                        </td>
                                        
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
