@model IEnumerable<LiperFrontend.Models.Product>
@using LiperFrontend.Shared
@{
    ViewData["Title"] = "Index";
    Pager pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">  New Product</a>
</p>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            @*<table id="example" class="table table-sm table-bordered table-hover">*@


                            <caption>Number of items: @pager.TotalItems</caption>
                            <thead>
                                <tr>
                                   
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NameAR)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DescriptionAR)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Price)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Discount)
                                    </th>
                                    
                                    @* <th>
                                    @Html.DisplayNameFor(model => model.SubCategory.nameEN)
                                    </th> *@
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NameAR)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DescriptionAR)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Price)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Discount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.isPercentage)
                                        </td>
                                       
                                        <td>
                                            <a asp-action="Edit" class="btn btn-outline-info" asp-route-Id=@item.Id> Update</a>
                                            <a asp-action="Details" asp-controller="Product" class="btn btn-outline-info" asp-route-Id=@item.Id> Details</a>
                                            <a asp-action="Delete" class="btn btn-outline-danger" asp-route-Id=@item.Id> Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
@Html.Partial("_PagerPartial" ,pager)

