@model IEnumerable<LiperFrontend.Models.SubCategory>

@{
    ViewData["Title"] = "CategorySubCategories";
}

<h1>CategorySubCategories</h1>

<p>
    <a asp-action="Create" asp-route-categoryId="@Context.Request.Query["id"]" class="btn btn-outline-success">Crveate New</a>

    @if (Model.Count() > 0)
    {
        <a asp-action="Create" asp-route-categoryId="@Model.FirstOrDefault().categoryId" class="btn btn-outline-success">Create New</a>

    }
    else
    {
        <a asp-action="Create" asp-route-categoryId="0" class="btn btn-outline-success">Create New</a>

    }
    <a asp-action="Index" asp-controller="Categories" class="btn btn-outline-secondary">Back to Categories List</a>
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nameEN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nameAR)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nameEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nameAR)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
