@model IEnumerable<LiperFrontend.Models.AboutUs>

@{
    ViewData["Title"] = "Index";
}
<h1>About Us</h1>
<p>
    <a asp-action="Create" class="btn btn-outline-success">New About Us </a>
</p>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            @*<table id="example" class="table table-sm table-bordered table-hover">*@


                            <caption>Number of items: @Model.Count()</caption>

                            <thead>
                                <tr>

                                    <th>
                                        @Html.DisplayNameFor(model => model.titleEN)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.titleAR)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.descriptionEN)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.descriptionAR)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.titleEN)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.titleAR)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.descriptionEN)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.descriptionAR)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" class="btn btn-outline-info" asp-route-Id=@item.id> Update</a>
                                            @*  @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
